PORT=5000
MONGODB_URI=mongodb://localhost:27017/lumiere-store
JWT_SECRET=lumiere_secret_jwt_key_2026_super_secure
NODE_ENV=development
CLIENT_URL=http://localhost:5175
ADMIN_URL=http://localhost:5176
